
@use "fonts" as font;
@use "mixins" as mix;


.main-content {
  padding: 24px;

  &__heading-box {
    display: flex;
    position: relative;
    align-items: center;
    width: 304px;
    height: 40px;
  }

  &__heading-line {
    position: absolute;
    left: 0px;
    width: 4px;
    height: 40px;
    background-image: url(../img/main-heading-line.svg);
  }

  &__heading {
    font-family: font.$bold;
    font-size: 28px;
    font-weight: 700;
    color: rgb(27, 28, 33);
  }

  &__navigation {
    display: flex;
    margin-top: 24px;
    min-width: 320px;
    overflow: scroll;
    scrollbar-color: rgba(0, 0, 0, 0);
  }

  &__navigation-item {
    min-width: 248px;
    height: 40px;
    padding: 8px;
    text-align: center;
    font-family: font.$medium;

    a {
      color: rgb(126, 126, 130);
    }

    &:hover {
      background-color: white;
      border: 2px solid rgb(184, 255, 236);
      border-radius: 6px;
    }
  }
}
