@media (min-width: 320px) {
  .menu-container {
    &__line--hidden-xs {
      display: block;
    }

    h1 {
      display: none;
    }
  }



  .contacts-container {
    min-width: 120px;
  }

  .contacts-container__line {
    display: none;
  }

  .contacts-container__button-container {
    width: 40px;
  }

  .contacts-container__button-text {
    display: none;
  }

  .contacts-container__link--hidden-xs {
    display: none;
  }

  .brands {
    .brands__list--hidden-xs {
      display: none;
    }

    .open-brands-btn {
      display: none;
    }
  }

  .technic {
    &__list {
      display: none;
    }

    .open-brands-btn {
      display: none;
    }
  }

  .prices {
    padding: 16px;
    gap: 16px;

    &__table {
      display: none;
    }

    &__text {
      max-width: 288px;
    }

    &__button {
      width: 192px;
      background-position: right 60px bottom 5px;
    }
  }
}

@media (min-width: 765px) {

  .main-content__navigation-item:last-child {
    padding-left: 32px;
    text-align: start;
  }
}

@media (min-width: 400px) {
  .swiper {
    display: none;
  }

  .brands {

    .brands__list--hidden-xs {
      display: flex;
    }

    .open-brands-btn {
      display: flex;
    }

  }

  .technic {
    &__list {
      display: flex;
    }

    .open-brands-btn {
      display: flex;
    }
  }
}

@media (min-width: 602px) {
  .content-container {
    .main-img__block {
      margin: 0;

    }
  }

}

@media (min-width: 768px) {
  .menu-container__line--hidden-xs {
    display: none;
  }

  .contacts-container__line {
    display: block;
  }

  .contacts-container__link--hidden-xs {
    display: block;
  }

  .contacts-container__button-container {
    width: 40px;
  }

  .contacts-container__button-text {
    display: none;
  }

  .content-container {
    justify-content: space-between;

    &__text {
      width: 312px;


    }
    &__paragraph-two--hidden-xs {
      display: block;
    }

    .main-img__block {
      width: 360px;
    }
  }

  .technic {
    &__list-item {
      flex: 0 0 220px;

    }

    .hidden-md {
      display: none;
    }

    .hidden-tech-md {
      display: none;
      margin-top: -20px;
      opacity: 0;
    }

    .animated-tech {
      transform: translateY(20px);
      opacity: 1;
      transition: 5s;
    }
  }

  .prices {
    padding: 16px 40px 47px 40px;

    &__table {
      display: table;
    }

    &__text {
      max-width:421px;
    }

    &__button {
      width: 316px;
      background-position: right bottom 5px;
    }
  }

  .footer-container {
    justify-content: space-between;
    padding: 34px 24px;

    &__item {
      text-align: left;
    }
  }
}

@media (min-width: 1120px) {
  .contacts-container__line {
    display: none;
  }

  .contacts-container__link--hidden-xs {
    display: none;
  }

  .contacts-container__button-container {
    width: 178px;
  }

  .contacts-container__button-text {
    display: block;
  }

  .main-content__navigation {
    flex-wrap: wrap;
    overflow: auto;
  }

  .content-container {
    justify-content: space-between;

    &__text {
      width: 490px;
    }

    &__paragraph-two--hidden-xs {
      display: block;
    }

    &__paragraph-two--hidden-md {
      display: block;
    }

    .main-img__block {
      width: 500px;
      height: 350px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .technic {
    &__list-item {
      flex: 0 0 250px;

    }

    .hidden-tech-md {
      display: block;
      transform: translateY(20px);
      opacity: 1;
    }
  }

  .hidden-md {
    display: block !important;
  }

  .hidden-lg {
    display: block;
  }

  .brands {
    padding: 34px;

    .brands__list-item {
      flex: 0 0 230px;
    }

  }

  .swiper {
    display: none !important;
  }

  .right-sidebar {
    width: 440px;

    .header__sidebar-close {
      margin-left: -133px;
    }

    .heading-container {
      margin-top: 0;
      width: 396px;
    }

    .form {
      &__button {
        margin-left: 246px;
      }
    }


  }


}

@media (min-width: 1299px) {
  .content-container {
    padding-left: 34px;
    padding-right: 34px;

    &__text {
      width: 490px;
    }

    .main-img__block {
      width: 650px;
      height: 373px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .technic {
    padding: 15px 34px 24px 34px;
  }


}

@media (min-width: 1440px) {
  .brands {


    &__list--hidden-xs {
      gap: 60px !important;
    }

    .brands__list-item {
      flex: 0 0 280px;
    }
  }

  body {
    display: flex;
    justify-content: end;

    header {
      background-color: rgb(248, 248, 248);
    }

    .main__container {
      width: 1132px;
    }

    .menu-container {
      margin-left: 20px;
      .menu-container__btn--hidden-lg {
        display: none;
      }

      .menu-container__logo {
        display: none;
      }

      h1 {
        display: block;
      }
    }

    .contacts-container {
      &__button-container {
        background-color:  rgb(248, 248, 248) !important;
      }
    }

    .main-content {
      .main-content__heading {
        display: none;
      }

      &__navigation-item {
        min-width: 210px;
        font-size: 12px;
      }

      &__heading-line {
        left: 320px;
        transform: translateY(-88px);
      }
    }

    .content-container {
      .main-img__block {
        width: 500px;
        height: 363px;
      }
    }


    .left-menu {
      display: block;
      width: 320px;

      .sidebar {
        box-shadow: none;
      }
    }

    .brands {
      .brands__list--hidden-xs {
        justify-content: start;
      }

      &__list-item {
        flex: 0 0 215px !important;
      }
    }

    .technic {
      .technic__list-item {
        flex: 0 0 230px;
      }
    }
    

  }
}

/* slider end */
@media (min-width: 320px) and (max-width: 767px) {
  .brands__list--hidden-xs {
    display: none;
  }

  .hiddem-md {
    display: none;
  }

  .open-brands__btn {
    display: none;
  }


}

@media (min-width: 768px) and (max-width: 1119px) {
  .swiper {
    display: none !important;
  }

  .hiddem-md {
    display: none;
  }

  .brands__list--hidden-xs {
    gap: 16px;
  }

  .brands__list-item {
    flex: 0 0 224px;
  }
}


@media (min-height: 650px) {
  .navigation {
    padding-bottom: 0;

    &__list {
      gap: 16px;
    }
  }

  .contacts {
    justify-content: start;
    padding-top: 20px;
  }

  .language-change {
    padding: 3px 209px 0 24px;
  }
}
